body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.background-wrapper {
  background: white;
  padding: 20px !important;
  border-radius: 12px;
  /* height: calc(100vh - 92px); */
  overflow-x: hidden;
  overflow-y: auto;
}

.margin_none {
  margin-bottom: 0px !important;
}

.top_border_design {
  border: 12px 12px 0px 0px;
}

.new_badge {
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
}

/* Status variants */
.new_badge-success {
  background: #16a34a;
}


.new_badge_inactive {
  background: #fee2e2;
}

.new_badge_default {
  background: #4338ca;
}

.new_badge-error {
  background: #dc2626;
}

.new_badge-pending {
  background: #f59e0b;
}

.new_badge-default {
  background: #4f46e5;
}

.new_badge_on {
  background: #b45309;
}

.new_badge_off {
  background: #6b7280;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.margin_none {
  margin-bottom: 0px !important;
}

.sidebar-toggle-btn {
  position: absolute;
  top: 15px;              /* navbar ke according adjust karo */
  left: 250px;            /* sidebar width ke equal (important) */
  transform: translateX(-50%);
  z-index: 999;
}

.sidebar-toggle-btn .btn {
  background: #343a40;
  color: white;
  border-radius: 6px;
  padding: 6px 10px;
}